header {
    padding: 10px;
    background: #14136e;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    display: flex; 
    align-items: center;
}

.logo-image {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.company-name {
    font-size: 1.5rem; 
    font-weight: bold; 
    margin-left: 10px; 
    color: white; 
}

.desktop_menu {
    margin-top: 24px;
}

.desktop_menu ul {
    padding: 0;
    margin: 0;
}

.desktop_menu ul li {
    list-style-type: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-left: 26px;
}

.desktop_menu ul li:hover {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: yellow;
    transition: 0.3s ease-in-out;
}

.desktop_menu ul li.active {
    border: 2px solid white;
    border-radius: 30px;
    color: black;
    background-color: white;
    transition: all 0.3s ease-in-out;
}


.menu-icon {
    display: block;  
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding-top: 10px;
}

@media screen and (min-width: 128px) and (max-width: 900px) {
    .desktop_menu {
        display: none;  
    }
    .desktop_menu ul li {
        display: block;
        text-align: left;
        margin: 0;
        padding: 10px 0 10px 26px;
        border-bottom: 1px solid grey;
    }
    .menu-icon {
        display: block;
        color: white;
        font-size: 40px;
        padding-top: 10px;
    }
    .mobile_menu {
        right: 0;
        transition: 0.4s ease-in-out;
    }
    .desktop_menu ul li.active {
        border-radius: 0;
      }
    .desktop_menu.mobile_menu {
        display: block; 
        position: fixed;
        right: 0;
        top: 0;
        width: 280px;
        height: 100%;
        background-color: #14136e;
        transition: right 0.3s;
    }
}
